<ion-header>
  <ion-toolbar>
    <ion-title>Resultado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Endereço</ion-title>
    </ion-toolbar>
  </ion-header>

  <div *ngIf="cepService.resultadoCep; else semEndereco">
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          CEP {{ cepService.resultadoCep.cep }}
        </ion-card-title>
      </ion-card-header>
      
      <ion-card-content class="content-loc">
        <p><strong>Logradouro:</strong> {{ cepService.resultadoCep.logradouro }}</p>
        <p><strong>Bairro:</strong> {{ cepService.resultadoCep.bairro }}</p>
        <p><strong>Cidade:</strong> {{ cepService.resultadoCep.localidade }}</p>
        <p><strong>UF:</strong> {{ cepService.resultadoCep.uf }}</p>
      </ion-card-content>
    </ion-card>
  </div>

  <ng-template #semEndereco>
    <div class="ion-text-center ion-padding" style="margin-top: 40px; color: #737373;">
      <ion-icon name="location-outline" style="font-size: 64px; margin-bottom: 16px;"></ion-icon>
      <h3>Nenhum endereço pesquisado ainda</h3>
      <p>Vá até a aba de busca e digite um CEP válido.</p>
    </div>
  </ng-template>
</ion-content>